@import "tailwindcss";

:root {
  --background: #eaeded;
  --foreground: #0f1111;
  --amazon-orange: #ff9900;
  --amazon-dark: #131921;
  --amazon-nav: #232f3e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #007185;
}

a:hover {
  color: #c7511f;
}
